.about-section {
  color: white;
  padding: 150px 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me {
  white-space: pre-wrap;
  text-align: center;
}
.about-me h1,
.skills h1 {
  margin: 40px;
  font-size: 30px;
}
.skills {
  text-align: center;
  width: 40%;
}
