.stars-dark {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 391px 1816px #575757, 255px 834px #575757, 1163px 331px #575757,
    1164px 997px #575757, 427px 614px #575757, 1687px 363px #575757,
    1595px 817px #575757, 493px 187px #575757, 1691px 1838px #575757,
    644px 1198px #575757, 1853px 1087px #575757, 153px 1788px #575757,
    1555px 1512px #575757, 727px 220px #575757, 352px 1204px #575757,
    870px 951px #575757, 730px 1073px #575757, 213px 104px #575757,
    797px 1316px #575757, 1554px 380px #575757, 1016px 1715px #575757,
    1269px 1190px #575757, 1368px 1033px #575757, 1690px 398px #575757,
    1328px 596px #575757, 1377px 1310px #575757, 1058px 1031px #575757,
    462px 192px #575757, 648px 1965px #575757, 1769px 1847px #575757,
    680px 761px #575757, 1764px 1773px #575757, 1828px 1727px #575757,
    1472px 1636px #575757, 1213px 999px #575757, 1662px 1959px #575757,
    509px 273px #575757, 115px 261px #575757, 1612px 18px #575757,
    433px 1090px #575757, 164px 1888px #575757, 1900px 1733px #575757,
    1079px 164px #575757, 1802px 1838px #575757, 1231px 1554px #575757,
    760px 137px #575757, 923px 916px #575757, 559px 672px #575757,
    81px 743px #575757, 1834px 1181px #575757, 1724px 1093px #575757,
    802px 1571px #575757, 1283px 739px #575757, 1370px 1440px #575757,
    1028px 1707px #575757, 587px 502px #575757, 1183px 604px #575757,
    1373px 746px #575757, 1689px 868px #575757, 1294px 1220px #575757,
    3px 1465px #575757, 621px 362px #575757, 1853px 1100px #575757,
    1826px 1987px #575757, 678px 1222px #575757, 1790px 1712px #575757,
    552px 1528px #575757, 1581px 33px #575757, 180px 1426px #575757,
    706px 732px #575757, 1464px 1364px #575757, 585px 1736px #575757,
    1262px 1972px #575757, 348px 980px #575757, 1335px 1274px #575757,
    1377px 663px #575757, 1048px 1200px #575757, 1099px 1768px #575757,
    654px 967px #575757, 1666px 561px #575757, 1406px 51px #575757,
    365px 364px #575757, 1934px 1327px #575757, 1949px 1208px #575757,
    1681px 128px #575757, 1778px 1444px #575757, 1788px 383px #575757,
    1161px 1341px #575757, 1783px 384px #575757, 546px 1340px #575757,
    1408px 1526px #575757, 275px 67px #575757, 1380px 1692px #575757,
    1921px 368px #575757, 892px 751px #575757, 1966px 1588px #575757,
    1846px 1493px #575757, 388px 1674px #575757, 946px 1404px #575757,
    596px 149px #575757, 681px 459px #575757, 521px 687px #575757,
    1287px 1252px #575757, 37px 1864px #575757, 1339px 216px #575757,
    450px 1737px #575757, 638px 1686px #575757, 1850px 4px #575757,
    1616px 936px #575757, 272px 1333px #575757, 1745px 414px #575757,
    1615px 731px #575757, 1007px 1131px #575757, 804px 600px #575757,
    425px 1213px #575757, 1555px 489px #575757, 958px 806px #575757,
    420px 1412px #575757, 326px 333px #575757, 1998px 196px #575757,
    982px 1951px #575757, 1300px 1235px #575757, 1188px 78px #575757,
    534px 359px #575757, 415px 1472px #575757, 513px 170px #575757,
    1040px 1263px #575757, 859px 1632px #575757, 438px 295px #575757,
    1710px 250px #575757, 260px 1037px #575757, 451px 1296px #575757,
    537px 1207px #575757, 1847px 96px #575757, 1165px 1066px #575757,
    1216px 192px #575757, 476px 320px #575757, 1609px 902px #575757,
    521px 440px #575757, 1035px 1504px #575757, 312px 1619px #575757,
    1816px 1326px #575757, 1992px 836px #575757, 520px 422px #575757,
    635px 1109px #575757, 816px 1539px #575757, 460px 1168px #575757,
    1628px 858px #575757, 1696px 800px #575757, 103px 871px #575757,
    1139px 623px #575757, 1837px 309px #575757, 1489px 35px #575757,
    1592px 187px #575757, 186px 700px #575757, 1565px 1193px #575757,
    906px 637px #575757, 1524px 486px #575757, 75px 231px #575757,
    50px 1074px #575757, 902px 1125px #575757, 40px 819px #575757,
    1736px 1612px #575757, 1884px 1324px #575757, 955px 1327px #575757,
    1090px 920px #575757, 704px 439px #575757, 577px 1436px #575757,
    621px 1012px #575757, 1843px 1878px #575757, 1056px 103px #575757,
    106px 727px #575757, 1870px 638px #575757, 1375px 750px #575757,
    718px 619px #575757, 785px 1462px #575757, 1449px 970px #575757,
    1361px 1012px #575757, 1059px 1989px #575757, 1053px 1986px #575757,
    1062px 504px #575757, 1609px 333px #575757, 148px 433px #575757,
    763px 964px #575757, 224px 957px #575757, 243px 1084px #575757,
    1513px 1488px #575757, 1250px 565px #575757, 135px 558px #575757,
    1355px 1166px #575757, 1805px 1204px #575757, 292px 860px #575757,
    1328px 521px #575757, 683px 1178px #575757, 669px 1465px #575757,
    398px 216px #575757, 1628px 1085px #575757, 1325px 765px #575757,
    1846px 1903px #575757, 238px 89px #575757, 424px 1620px #575757,
    1304px 1117px #575757, 955px 978px #575757, 1055px 1050px #575757,
    1636px 835px #575757, 81px 1999px #575757, 1171px 528px #575757,
    338px 1175px #575757, 1781px 1700px #575757, 1958px 1885px #575757,
    1217px 841px #575757, 466px 1660px #575757, 1436px 712px #575757,
    717px 1948px #575757, 1992px 1229px #575757, 1700px 1335px #575757,
    865px 21px #575757, 600px 1303px #575757, 993px 569px #575757,
    836px 199px #575757, 1345px 606px #575757, 80px 456px #575757,
    1581px 685px #575757, 1083px 157px #575757, 1320px 1985px #575757,
    663px 427px #575757, 1580px 429px #575757, 220px 1234px #575757,
    832px 900px #575757, 1667px 1238px #575757, 626px 954px #575757,
    1409px 1373px #575757, 1575px 1606px #575757, 801px 568px #575757,
    1012px 1816px #575757, 675px 181px #575757, 310px 66px #575757,
    1687px 467px #575757, 1375px 1287px #575757, 321px 1467px #575757,
    1496px 1354px #575757, 555px 1842px #575757, 1374px 1619px #575757,
    220px 705px #575757, 1036px 1121px #575757, 496px 684px #575757,
    289px 1599px #575757, 1003px 826px #575757, 1963px 1184px #575757,
    427px 546px #575757, 1043px 1822px #575757, 627px 406px #575757,
    843px 74px #575757, 1530px 342px #575757, 1259px 204px #575757,
    1104px 868px #575757, 1092px 298px #575757, 432px 967px #575757,
    1789px 288px #575757, 1402px 1697px #575757, 1964px 1741px #575757,
    1807px 668px #575757, 1044px 1342px #575757, 1063px 384px #575757,
    1012px 669px #575757, 1182px 1822px #575757, 43px 954px #575757,
    259px 49px #575757, 688px 628px #575757, 129px 1153px #575757,
    1589px 862px #575757, 404px 1448px #575757, 1015px 852px #575757,
    910px 1958px #575757, 73px 1848px #575757, 816px 73px #575757,
    1187px 1456px #575757, 1416px 1300px #575757, 43px 910px #575757,
    1398px 184px #575757, 434px 446px #575757, 1942px 818px #575757,
    923px 143px #575757, 101px 1752px #575757, 957px 401px #575757,
    1727px 1603px #575757, 983px 1998px #575757, 260px 388px #575757,
    1348px 227px #575757, 227px 410px #575757, 1327px 684px #575757,
    1420px 1566px #575757, 204px 1356px #575757, 203px 1377px #575757,
    990px 334px #575757, 876px 136px #575757, 1724px 842px #575757,
    1955px 424px #575757, 1925px 1916px #575757, 1260px 1159px #575757,
    424px 866px #575757, 1620px 1308px #575757, 1301px 611px #575757,
    1777px 1440px #575757, 408px 1473px #575757, 1675px 637px #575757,
    58px 1242px #575757, 1405px 318px #575757, 580px 1006px #575757,
    1238px 46px #575757, 1163px 354px #575757, 235px 1975px #575757,
    406px 1663px #575757, 302px 1154px #575757, 1840px 493px #575757,
    1766px 1290px #575757, 1614px 137px #575757, 1026px 1429px #575757,
    1049px 1153px #575757, 1668px 806px #575757, 1016px 632px #575757,
    1333px 1949px #575757, 709px 1110px #575757, 1065px 1376px #575757,
    330px 1597px #575757, 986px 1888px #575757, 1639px 1387px #575757,
    223px 1227px #575757, 1158px 37px #575757, 1882px 1387px #575757,
    1106px 1920px #575757, 625px 1037px #575757, 1775px 584px #575757,
    413px 405px #575757, 365px 1322px #575757, 1942px 1163px #575757,
    359px 1172px #575757, 1472px 832px #575757, 1611px 1455px #575757,
    719px 875px #575757, 398px 969px #575757, 1029px 956px #575757,
    1026px 1734px #575757, 857px 295px #575757, 1719px 451px #575757,
    438px 245px #575757, 179px 1788px #575757, 925px 1762px #575757,
    462px 547px #575757, 1460px 547px #575757, 1115px 297px #575757,
    475px 294px #575757, 613px 317px #575757, 196px 1556px #575757,
    810px 1090px #575757, 1688px 814px #575757, 1483px 1653px #575757,
    529px 380px #575757, 611px 356px #575757, 1333px 1710px #575757,
    1557px 1258px #575757, 6px 1597px #575757, 1478px 447px #575757,
    817px 616px #575757, 1796px 1316px #575757, 61px 1249px #575757,
    944px 697px #575757, 12px 650px #575757, 462px 1685px #575757,
    1376px 1258px #575757, 1593px 775px #575757, 903px 1293px #575757,
    958px 383px #575757, 543px 385px #575757, 538px 488px #575757,
    370px 553px #575757, 447px 1536px #575757, 200px 539px #575757,
    24px 624px #575757, 311px 357px #575757, 1063px 1890px #575757,
    928px 1977px #575757, 217px 1555px #575757, 822px 1882px #575757,
    1489px 1819px #575757, 847px 166px #575757, 1385px 1171px #575757,
    451px 1207px #575757, 800px 893px #575757, 1110px 1837px #575757,
    783px 1246px #575757, 1660px 359px #575757, 1434px 741px #575757,
    1502px 742px #575757, 1002px 1654px #575757, 859px 63px #575757,
    687px 1250px #575757, 1213px 1753px #575757, 939px 167px #575757,
    209px 1632px #575757, 732px 285px #575757, 47px 1414px #575757,
    1097px 1672px #575757, 1804px 1031px #575757, 914px 1819px #575757,
    804px 605px #575757, 105px 398px #575757, 1826px 1098px #575757,
    1240px 582px #575757, 1679px 825px #575757, 609px 49px #575757,
    852px 863px #575757, 1529px 1945px #575757, 1746px 1203px #575757,
    730px 86px #575757, 706px 179px #575757, 712px 579px #575757,
    453px 1412px #575757, 9px 1262px #575757, 743px 1015px #575757,
    36px 282px #575757, 467px 1616px #575757, 716px 1848px #575757,
    1869px 966px #575757, 1577px 500px #575757, 560px 1621px #575757,
    1007px 610px #575757, 1895px 445px #575757, 1531px 396px #575757,
    1824px 1857px #575757, 710px 1984px #575757, 1948px 1361px #575757,
    1227px 272px #575757, 444px 1241px #575757, 1406px 932px #575757,
    211px 1163px #575757, 872px 1468px #575757, 427px 889px #575757,
    654px 1073px #575757, 1784px 1268px #575757, 431px 1943px #575757,
    465px 719px #575757, 1558px 1732px #575757, 951px 261px #575757,
    1297px 176px #575757, 1271px 838px #575757, 208px 1008px #575757,
    404px 1084px #575757, 29px 1356px #575757, 856px 1011px #575757,
    472px 1223px #575757, 973px 1278px #575757, 221px 1280px #575757,
    1763px 107px #575757, 1750px 1831px #575757, 1337px 1224px #575757,
    1419px 434px #575757, 1796px 1138px #575757, 1048px 380px #575757,
    289px 1459px #575757, 1599px 1459px #575757, 1817px 1863px #575757,
    144px 1829px #575757, 420px 1845px #575757, 506px 1261px #575757,
    608px 1702px #575757, 1026px 828px #575757, 1400px 837px #575757,
    273px 734px #575757, 1313px 1617px #575757, 1469px 862px #575757,
    1096px 144px #575757, 314px 437px #575757, 96px 1961px #575757,
    747px 1658px #575757, 381px 1647px #575757, 645px 1701px #575757,
    922px 560px #575757, 1403px 1578px #575757, 1149px 800px #575757,
    1113px 1691px #575757, 608px 91px #575757, 1787px 1065px #575757,
    1906px 1855px #575757, 1865px 1007px #575757, 1814px 1156px #575757,
    409px 719px #575757, 1418px 1648px #575757, 1556px 613px #575757,
    864px 1197px #575757, 78px 1082px #575757, 1014px 96px #575757,
    196px 953px #575757, 696px 1332px #575757, 1617px 601px #575757,
    1577px 1762px #575757, 1111px 1301px #575757, 1696px 1756px #575757,
    1078px 433px #575757, 267px 1827px #575757, 8px 1028px #575757,
    976px 1486px #575757, 1223px 668px #575757, 1049px 991px #575757,
    423px 1878px #575757, 1721px 612px #575757, 418px 1446px #575757,
    1457px 487px #575757, 1700px 1141px #575757, 650px 903px #575757,
    1003px 557px #575757, 1998px 1714px #575757, 1548px 1542px #575757,
    1293px 1417px #575757, 979px 755px #575757, 1898px 28px #575757,
    1640px 463px #575757, 1946px 1051px #575757, 708px 1113px #575757,
    1557px 176px #575757, 801px 215px #575757, 1590px 797px #575757,
    703px 1866px #575757, 1567px 1460px #575757, 321px 1818px #575757,
    1238px 9px #575757, 620px 64px #575757, 1122px 975px #575757,
    1937px 1955px #575757, 341px 1405px #575757, 873px 1762px #575757,
    1647px 1330px #575757, 148px 370px #575757, 1301px 822px #575757,
    1830px 943px #575757, 1972px 1072px #575757, 1045px 182px #575757,
    561px 1224px #575757, 1698px 1589px #575757, 227px 1690px #575757,
    109px 1184px #575757, 1373px 600px #575757, 1023px 290px #575757,
    558px 512px #575757, 496px 312px #575757, 1116px 971px #575757,
    402px 1446px #575757, 39px 1842px #575757, 40px 1906px #575757,
    1001px 1630px #575757, 499px 1303px #575757, 1096px 1716px #575757,
    589px 1179px #575757, 112px 558px #575757, 751px 691px #575757,
    144px 388px #575757, 358px 180px #575757, 1872px 1802px #575757,
    1993px 1855px #575757, 644px 1626px #575757, 1040px 1149px #575757,
    112px 631px #575757, 758px 520px #575757, 791px 1281px #575757,
    1554px 1621px #575757, 1612px 1887px #575757, 1475px 367px #575757,
    272px 1141px #575757, 1695px 1396px #575757, 1922px 718px #575757,
    824px 1353px #575757, 597px 141px #575757, 114px 903px #575757,
    1723px 1886px #575757, 780px 792px #575757, 1441px 1576px #575757,
    159px 968px #575757, 763px 636px #575757, 1397px 1257px #575757,
    387px 1811px #575757, 157px 1708px #575757, 1397px 343px #575757,
    212px 1455px #575757, 1000px 973px #575757, 1917px 491px #575757,
    919px 290px #575757, 642px 483px #575757, 47px 228px #575757,
    627px 1134px #575757, 1654px 1530px #575757, 1170px 1116px #575757,
    200px 394px #575757, 1574px 1116px #575757, 1468px 614px #575757,
    574px 1012px #575757, 1305px 686px #575757, 1477px 199px #575757,
    1701px 598px #575757, 1390px 1926px #575757, 1344px 471px #575757,
    997px 1109px #575757, 877px 350px #575757, 1351px 298px #575757,
    1408px 1897px #575757, 939px 684px #575757, 1802px 1648px #575757,
    1706px 1801px #575757, 1488px 1041px #575757, 1036px 1975px #575757,
    1347px 1465px #575757, 153px 1840px #575757, 923px 1119px #575757,
    69px 1994px #575757, 1471px 1124px #575757, 1185px 1572px #575757,
    453px 1255px #575757, 515px 296px #575757, 287px 128px #575757,
    488px 349px #575757, 1250px 697px #575757, 1985px 464px #575757,
    934px 1061px #575757, 1462px 383px #575757, 1885px 1438px #575757,
    1496px 1192px #575757, 1489px 101px #575757, 579px 744px #575757,
    1040px 1931px #575757, 855px 1404px #575757, 1156px 1185px #575757,
    568px 1695px #575757, 247px 1412px #575757, 844px 1145px #575757,
    1830px 1921px #575757, 165px 810px #575757, 979px 1597px #575757,
    1791px 1911px #575757, 685px 1619px #575757, 967px 272px #575757,
    97px 670px #575757, 971px 1062px #575757, 973px 1531px #575757,
    1918px 652px #575757, 1446px 799px #575757, 893px 1313px #575757,
    514px 289px #575757, 1185px 669px #575757, 1408px 1684px #575757,
    661px 1562px #575757, 948px 968px #575757, 972px 1855px #575757,
    1964px 431px #575757, 1685px 966px #575757, 66px 775px #575757,
    91px 895px #575757, 1748px 1734px #575757, 1860px 1412px #575757,
    1942px 768px #575757, 743px 1048px #575757, 1732px 1309px #575757,
    1104px 764px #575757, 878px 935px #575757, 129px 1877px #575757,
    810px 1438px #575757, 1486px 822px #575757, 18px 728px #575757,
    147px 1069px #575757, 703px 1160px #575757, 1835px 1940px #575757,
    1734px 1189px #575757, 1455px 622px #575757, 129px 747px #575757,
    939px 206px #575757, 1372px 956px #575757, 1969px 1552px #575757,
    589px 829px #575757, 1991px 1003px #575757, 1703px 1189px #575757,
    1387px 261px #575757, 271px 1593px #575757, 1675px 299px #575757,
    887px 1379px #575757, 1312px 1123px #575757, 1506px 1163px #575757,
    1089px 1480px #575757, 1782px 1px #575757, 1893px 62px #575757,
    1172px 1223px #575757, 172px 246px #575757, 882px 1932px #575757,
    1555px 528px #575757, 934px 618px #575757, 1765px 496px #575757,
    1550px 87px #575757, 1298px 835px #575757, 356px 1943px #575757,
    676px 227px #575757, 947px 471px #575757, 161px 1997px #575757,
    1309px 287px #575757 !important;
  animation: animStar 50s linear infinite;
}
.stars-dark:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 391px 1816px #575757, 255px 834px #575757, 1163px 331px #575757,
    1164px 997px #575757, 427px 614px #575757, 1687px 363px #575757,
    1595px 817px #575757, 493px 187px #575757, 1691px 1838px #575757,
    644px 1198px #575757, 1853px 1087px #575757, 153px 1788px #575757,
    1555px 1512px #575757, 727px 220px #575757, 352px 1204px #575757,
    870px 951px #575757, 730px 1073px #575757, 213px 104px #575757,
    797px 1316px #575757, 1554px 380px #575757, 1016px 1715px #575757,
    1269px 1190px #575757, 1368px 1033px #575757, 1690px 398px #575757,
    1328px 596px #575757, 1377px 1310px #575757, 1058px 1031px #575757,
    462px 192px #575757, 648px 1965px #575757, 1769px 1847px #575757,
    680px 761px #575757, 1764px 1773px #575757, 1828px 1727px #575757,
    1472px 1636px #575757, 1213px 999px #575757, 1662px 1959px #575757,
    509px 273px #575757, 115px 261px #575757, 1612px 18px #575757,
    433px 1090px #575757, 164px 1888px #575757, 1900px 1733px #575757,
    1079px 164px #575757, 1802px 1838px #575757, 1231px 1554px #575757,
    760px 137px #575757, 923px 916px #575757, 559px 672px #575757,
    81px 743px #575757, 1834px 1181px #575757, 1724px 1093px #575757,
    802px 1571px #575757, 1283px 739px #575757, 1370px 1440px #575757,
    1028px 1707px #575757, 587px 502px #575757, 1183px 604px #575757,
    1373px 746px #575757, 1689px 868px #575757, 1294px 1220px #575757,
    3px 1465px #575757, 621px 362px #575757, 1853px 1100px #575757,
    1826px 1987px #575757, 678px 1222px #575757, 1790px 1712px #575757,
    552px 1528px #575757, 1581px 33px #575757, 180px 1426px #575757,
    706px 732px #575757, 1464px 1364px #575757, 585px 1736px #575757,
    1262px 1972px #575757, 348px 980px #575757, 1335px 1274px #575757,
    1377px 663px #575757, 1048px 1200px #575757, 1099px 1768px #575757,
    654px 967px #575757, 1666px 561px #575757, 1406px 51px #575757,
    365px 364px #575757, 1934px 1327px #575757, 1949px 1208px #575757,
    1681px 128px #575757, 1778px 1444px #575757, 1788px 383px #575757,
    1161px 1341px #575757, 1783px 384px #575757, 546px 1340px #575757,
    1408px 1526px #575757, 275px 67px #575757, 1380px 1692px #575757,
    1921px 368px #575757, 892px 751px #575757, 1966px 1588px #575757,
    1846px 1493px #575757, 388px 1674px #575757, 946px 1404px #575757,
    596px 149px #575757, 681px 459px #575757, 521px 687px #575757,
    1287px 1252px #575757, 37px 1864px #575757, 1339px 216px #575757,
    450px 1737px #575757, 638px 1686px #575757, 1850px 4px #575757,
    1616px 936px #575757, 272px 1333px #575757, 1745px 414px #575757,
    1615px 731px #575757, 1007px 1131px #575757, 804px 600px #575757,
    425px 1213px #575757, 1555px 489px #575757, 958px 806px #575757,
    420px 1412px #575757, 326px 333px #575757, 1998px 196px #575757,
    982px 1951px #575757, 1300px 1235px #575757, 1188px 78px #575757,
    534px 359px #575757, 415px 1472px #575757, 513px 170px #575757,
    1040px 1263px #575757, 859px 1632px #575757, 438px 295px #575757,
    1710px 250px #575757, 260px 1037px #575757, 451px 1296px #575757,
    537px 1207px #575757, 1847px 96px #575757, 1165px 1066px #575757,
    1216px 192px #575757, 476px 320px #575757, 1609px 902px #575757,
    521px 440px #575757, 1035px 1504px #575757, 312px 1619px #575757,
    1816px 1326px #575757, 1992px 836px #575757, 520px 422px #575757,
    635px 1109px #575757, 816px 1539px #575757, 460px 1168px #575757,
    1628px 858px #575757, 1696px 800px #575757, 103px 871px #575757,
    1139px 623px #575757, 1837px 309px #575757, 1489px 35px #575757,
    1592px 187px #575757, 186px 700px #575757, 1565px 1193px #575757,
    906px 637px #575757, 1524px 486px #575757, 75px 231px #575757,
    50px 1074px #575757, 902px 1125px #575757, 40px 819px #575757,
    1736px 1612px #575757, 1884px 1324px #575757, 955px 1327px #575757,
    1090px 920px #575757, 704px 439px #575757, 577px 1436px #575757,
    621px 1012px #575757, 1843px 1878px #575757, 1056px 103px #575757,
    106px 727px #575757, 1870px 638px #575757, 1375px 750px #575757,
    718px 619px #575757, 785px 1462px #575757, 1449px 970px #575757,
    1361px 1012px #575757, 1059px 1989px #575757, 1053px 1986px #575757,
    1062px 504px #575757, 1609px 333px #575757, 148px 433px #575757,
    763px 964px #575757, 224px 957px #575757, 243px 1084px #575757,
    1513px 1488px #575757, 1250px 565px #575757, 135px 558px #575757,
    1355px 1166px #575757, 1805px 1204px #575757, 292px 860px #575757,
    1328px 521px #575757, 683px 1178px #575757, 669px 1465px #575757,
    398px 216px #575757, 1628px 1085px #575757, 1325px 765px #575757,
    1846px 1903px #575757, 238px 89px #575757, 424px 1620px #575757,
    1304px 1117px #575757, 955px 978px #575757, 1055px 1050px #575757,
    1636px 835px #575757, 81px 1999px #575757, 1171px 528px #575757,
    338px 1175px #575757, 1781px 1700px #575757, 1958px 1885px #575757,
    1217px 841px #575757, 466px 1660px #575757, 1436px 712px #575757,
    717px 1948px #575757, 1992px 1229px #575757, 1700px 1335px #575757,
    865px 21px #575757, 600px 1303px #575757, 993px 569px #575757,
    836px 199px #575757, 1345px 606px #575757, 80px 456px #575757,
    1581px 685px #575757, 1083px 157px #575757, 1320px 1985px #575757,
    663px 427px #575757, 1580px 429px #575757, 220px 1234px #575757,
    832px 900px #575757, 1667px 1238px #575757, 626px 954px #575757,
    1409px 1373px #575757, 1575px 1606px #575757, 801px 568px #575757,
    1012px 1816px #575757, 675px 181px #575757, 310px 66px #575757,
    1687px 467px #575757, 1375px 1287px #575757, 321px 1467px #575757,
    1496px 1354px #575757, 555px 1842px #575757, 1374px 1619px #575757,
    220px 705px #575757, 1036px 1121px #575757, 496px 684px #575757,
    289px 1599px #575757, 1003px 826px #575757, 1963px 1184px #575757,
    427px 546px #575757, 1043px 1822px #575757, 627px 406px #575757,
    843px 74px #575757, 1530px 342px #575757, 1259px 204px #575757,
    1104px 868px #575757, 1092px 298px #575757, 432px 967px #575757,
    1789px 288px #575757, 1402px 1697px #575757, 1964px 1741px #575757,
    1807px 668px #575757, 1044px 1342px #575757, 1063px 384px #575757,
    1012px 669px #575757, 1182px 1822px #575757, 43px 954px #575757,
    259px 49px #575757, 688px 628px #575757, 129px 1153px #575757,
    1589px 862px #575757, 404px 1448px #575757, 1015px 852px #575757,
    910px 1958px #575757, 73px 1848px #575757, 816px 73px #575757,
    1187px 1456px #575757, 1416px 1300px #575757, 43px 910px #575757,
    1398px 184px #575757, 434px 446px #575757, 1942px 818px #575757,
    923px 143px #575757, 101px 1752px #575757, 957px 401px #575757,
    1727px 1603px #575757, 983px 1998px #575757, 260px 388px #575757,
    1348px 227px #575757, 227px 410px #575757, 1327px 684px #575757,
    1420px 1566px #575757, 204px 1356px #575757, 203px 1377px #575757,
    990px 334px #575757, 876px 136px #575757, 1724px 842px #575757,
    1955px 424px #575757, 1925px 1916px #575757, 1260px 1159px #575757,
    424px 866px #575757, 1620px 1308px #575757, 1301px 611px #575757,
    1777px 1440px #575757, 408px 1473px #575757, 1675px 637px #575757,
    58px 1242px #575757, 1405px 318px #575757, 580px 1006px #575757,
    1238px 46px #575757, 1163px 354px #575757, 235px 1975px #575757,
    406px 1663px #575757, 302px 1154px #575757, 1840px 493px #575757,
    1766px 1290px #575757, 1614px 137px #575757, 1026px 1429px #575757,
    1049px 1153px #575757, 1668px 806px #575757, 1016px 632px #575757,
    1333px 1949px #575757, 709px 1110px #575757, 1065px 1376px #575757,
    330px 1597px #575757, 986px 1888px #575757, 1639px 1387px #575757,
    223px 1227px #575757, 1158px 37px #575757, 1882px 1387px #575757,
    1106px 1920px #575757, 625px 1037px #575757, 1775px 584px #575757,
    413px 405px #575757, 365px 1322px #575757, 1942px 1163px #575757,
    359px 1172px #575757, 1472px 832px #575757, 1611px 1455px #575757,
    719px 875px #575757, 398px 969px #575757, 1029px 956px #575757,
    1026px 1734px #575757, 857px 295px #575757, 1719px 451px #575757,
    438px 245px #575757, 179px 1788px #575757, 925px 1762px #575757,
    462px 547px #575757, 1460px 547px #575757, 1115px 297px #575757,
    475px 294px #575757, 613px 317px #575757, 196px 1556px #575757,
    810px 1090px #575757, 1688px 814px #575757, 1483px 1653px #575757,
    529px 380px #575757, 611px 356px #575757, 1333px 1710px #575757,
    1557px 1258px #575757, 6px 1597px #575757, 1478px 447px #575757,
    817px 616px #575757, 1796px 1316px #575757, 61px 1249px #575757,
    944px 697px #575757, 12px 650px #575757, 462px 1685px #575757,
    1376px 1258px #575757, 1593px 775px #575757, 903px 1293px #575757,
    958px 383px #575757, 543px 385px #575757, 538px 488px #575757,
    370px 553px #575757, 447px 1536px #575757, 200px 539px #575757,
    24px 624px #575757, 311px 357px #575757, 1063px 1890px #575757,
    928px 1977px #575757, 217px 1555px #575757, 822px 1882px #575757,
    1489px 1819px #575757, 847px 166px #575757, 1385px 1171px #575757,
    451px 1207px #575757, 800px 893px #575757, 1110px 1837px #575757,
    783px 1246px #575757, 1660px 359px #575757, 1434px 741px #575757,
    1502px 742px #575757, 1002px 1654px #575757, 859px 63px #575757,
    687px 1250px #575757, 1213px 1753px #575757, 939px 167px #575757,
    209px 1632px #575757, 732px 285px #575757, 47px 1414px #575757,
    1097px 1672px #575757, 1804px 1031px #575757, 914px 1819px #575757,
    804px 605px #575757, 105px 398px #575757, 1826px 1098px #575757,
    1240px 582px #575757, 1679px 825px #575757, 609px 49px #575757,
    852px 863px #575757, 1529px 1945px #575757, 1746px 1203px #575757,
    730px 86px #575757, 706px 179px #575757, 712px 579px #575757,
    453px 1412px #575757, 9px 1262px #575757, 743px 1015px #575757,
    36px 282px #575757, 467px 1616px #575757, 716px 1848px #575757,
    1869px 966px #575757, 1577px 500px #575757, 560px 1621px #575757,
    1007px 610px #575757, 1895px 445px #575757, 1531px 396px #575757,
    1824px 1857px #575757, 710px 1984px #575757, 1948px 1361px #575757,
    1227px 272px #575757, 444px 1241px #575757, 1406px 932px #575757,
    211px 1163px #575757, 872px 1468px #575757, 427px 889px #575757,
    654px 1073px #575757, 1784px 1268px #575757, 431px 1943px #575757,
    465px 719px #575757, 1558px 1732px #575757, 951px 261px #575757,
    1297px 176px #575757, 1271px 838px #575757, 208px 1008px #575757,
    404px 1084px #575757, 29px 1356px #575757, 856px 1011px #575757,
    472px 1223px #575757, 973px 1278px #575757, 221px 1280px #575757,
    1763px 107px #575757, 1750px 1831px #575757, 1337px 1224px #575757,
    1419px 434px #575757, 1796px 1138px #575757, 1048px 380px #575757,
    289px 1459px #575757, 1599px 1459px #575757, 1817px 1863px #575757,
    144px 1829px #575757, 420px 1845px #575757, 506px 1261px #575757,
    608px 1702px #575757, 1026px 828px #575757, 1400px 837px #575757,
    273px 734px #575757, 1313px 1617px #575757, 1469px 862px #575757,
    1096px 144px #575757, 314px 437px #575757, 96px 1961px #575757,
    747px 1658px #575757, 381px 1647px #575757, 645px 1701px #575757,
    922px 560px #575757, 1403px 1578px #575757, 1149px 800px #575757,
    1113px 1691px #575757, 608px 91px #575757, 1787px 1065px #575757,
    1906px 1855px #575757, 1865px 1007px #575757, 1814px 1156px #575757,
    409px 719px #575757, 1418px 1648px #575757, 1556px 613px #575757,
    864px 1197px #575757, 78px 1082px #575757, 1014px 96px #575757,
    196px 953px #575757, 696px 1332px #575757, 1617px 601px #575757,
    1577px 1762px #575757, 1111px 1301px #575757, 1696px 1756px #575757,
    1078px 433px #575757, 267px 1827px #575757, 8px 1028px #575757,
    976px 1486px #575757, 1223px 668px #575757, 1049px 991px #575757,
    423px 1878px #575757, 1721px 612px #575757, 418px 1446px #575757,
    1457px 487px #575757, 1700px 1141px #575757, 650px 903px #575757,
    1003px 557px #575757, 1998px 1714px #575757, 1548px 1542px #575757,
    1293px 1417px #575757, 979px 755px #575757, 1898px 28px #575757,
    1640px 463px #575757, 1946px 1051px #575757, 708px 1113px #575757,
    1557px 176px #575757, 801px 215px #575757, 1590px 797px #575757,
    703px 1866px #575757, 1567px 1460px #575757, 321px 1818px #575757,
    1238px 9px #575757, 620px 64px #575757, 1122px 975px #575757,
    1937px 1955px #575757, 341px 1405px #575757, 873px 1762px #575757,
    1647px 1330px #575757, 148px 370px #575757, 1301px 822px #575757,
    1830px 943px #575757, 1972px 1072px #575757, 1045px 182px #575757,
    561px 1224px #575757, 1698px 1589px #575757, 227px 1690px #575757,
    109px 1184px #575757, 1373px 600px #575757, 1023px 290px #575757,
    558px 512px #575757, 496px 312px #575757, 1116px 971px #575757,
    402px 1446px #575757, 39px 1842px #575757, 40px 1906px #575757,
    1001px 1630px #575757, 499px 1303px #575757, 1096px 1716px #575757,
    589px 1179px #575757, 112px 558px #575757, 751px 691px #575757,
    144px 388px #575757, 358px 180px #575757, 1872px 1802px #575757,
    1993px 1855px #575757, 644px 1626px #575757, 1040px 1149px #575757,
    112px 631px #575757, 758px 520px #575757, 791px 1281px #575757,
    1554px 1621px #575757, 1612px 1887px #575757, 1475px 367px #575757,
    272px 1141px #575757, 1695px 1396px #575757, 1922px 718px #575757,
    824px 1353px #575757, 597px 141px #575757, 114px 903px #575757,
    1723px 1886px #575757, 780px 792px #575757, 1441px 1576px #575757,
    159px 968px #575757, 763px 636px #575757, 1397px 1257px #575757,
    387px 1811px #575757, 157px 1708px #575757, 1397px 343px #575757,
    212px 1455px #575757, 1000px 973px #575757, 1917px 491px #575757,
    919px 290px #575757, 642px 483px #575757, 47px 228px #575757,
    627px 1134px #575757, 1654px 1530px #575757, 1170px 1116px #575757,
    200px 394px #575757, 1574px 1116px #575757, 1468px 614px #575757,
    574px 1012px #575757, 1305px 686px #575757, 1477px 199px #575757,
    1701px 598px #575757, 1390px 1926px #575757, 1344px 471px #575757,
    997px 1109px #575757, 877px 350px #575757, 1351px 298px #575757,
    1408px 1897px #575757, 939px 684px #575757, 1802px 1648px #575757,
    1706px 1801px #575757, 1488px 1041px #575757, 1036px 1975px #575757,
    1347px 1465px #575757, 153px 1840px #575757, 923px 1119px #575757,
    69px 1994px #575757, 1471px 1124px #575757, 1185px 1572px #575757,
    453px 1255px #575757, 515px 296px #575757, 287px 128px #575757,
    488px 349px #575757, 1250px 697px #575757, 1985px 464px #575757,
    934px 1061px #575757, 1462px 383px #575757, 1885px 1438px #575757,
    1496px 1192px #575757, 1489px 101px #575757, 579px 744px #575757,
    1040px 1931px #575757, 855px 1404px #575757, 1156px 1185px #575757,
    568px 1695px #575757, 247px 1412px #575757, 844px 1145px #575757,
    1830px 1921px #575757, 165px 810px #575757, 979px 1597px #575757,
    1791px 1911px #575757, 685px 1619px #575757, 967px 272px #575757,
    97px 670px #575757, 971px 1062px #575757, 973px 1531px #575757,
    1918px 652px #575757, 1446px 799px #575757, 893px 1313px #575757,
    514px 289px #575757, 1185px 669px #575757, 1408px 1684px #575757,
    661px 1562px #575757, 948px 968px #575757, 972px 1855px #575757,
    1964px 431px #575757, 1685px 966px #575757, 66px 775px #575757,
    91px 895px #575757, 1748px 1734px #575757, 1860px 1412px #575757,
    1942px 768px #575757, 743px 1048px #575757, 1732px 1309px #575757,
    1104px 764px #575757, 878px 935px #575757, 129px 1877px #575757,
    810px 1438px #575757, 1486px 822px #575757, 18px 728px #575757,
    147px 1069px #575757, 703px 1160px #575757, 1835px 1940px #575757,
    1734px 1189px #575757, 1455px 622px #575757, 129px 747px #575757,
    939px 206px #575757, 1372px 956px #575757, 1969px 1552px #575757,
    589px 829px #575757, 1991px 1003px #575757, 1703px 1189px #575757,
    1387px 261px #575757, 271px 1593px #575757, 1675px 299px #575757,
    887px 1379px #575757, 1312px 1123px #575757, 1506px 1163px #575757,
    1089px 1480px #575757, 1782px 1px #575757, 1893px 62px #575757,
    1172px 1223px #575757, 172px 246px #575757, 882px 1932px #575757,
    1555px 528px #575757, 934px 618px #575757, 1765px 496px #575757,
    1550px 87px #575757, 1298px 835px #575757, 356px 1943px #575757,
    676px 227px #575757, 947px 471px #575757, 161px 1997px #575757,
    1309px 287px #575757 !important;
}

.stars-dark2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 769px 1757px #575757, 1269px 670px #575757, 1328px 1783px #575757,
    380px 364px #575757, 753px 1304px #575757, 787px 838px #575757,
    1722px 1123px #575757, 264px 157px #575757, 336px 1536px #575757,
    1394px 344px #575757, 1324px 1700px #575757, 1692px 459px #575757,
    727px 605px #575757, 737px 1392px #575757, 650px 233px #575757,
    25px 1906px #575757, 51px 1631px #575757, 1728px 93px #575757,
    1085px 370px #575757, 1758px 478px #575757, 1709px 1823px #575757,
    201px 977px #575757, 112px 237px #575757, 1973px 24px #575757,
    1429px 544px #575757, 421px 1320px #575757, 1795px 195px #575757,
    1862px 315px #575757, 345px 1603px #575757, 574px 1745px #575757,
    638px 1436px #575757, 1211px 1614px #575757, 649px 1022px #575757,
    1948px 1492px #575757, 99px 51px #575757, 22px 1979px #575757,
    390px 1867px #575757, 400px 789px #575757, 829px 1305px #575757,
    329px 1305px #575757, 756px 52px #575757, 1721px 399px #575757,
    424px 1632px #575757, 1152px 15px #575757, 1513px 1025px #575757,
    311px 220px #575757, 1056px 472px #575757, 1289px 1434px #575757,
    1538px 1626px #575757, 1454px 886px #575757, 1922px 1920px #575757,
    262px 182px #575757, 386px 812px #575757, 335px 1422px #575757,
    1147px 1702px #575757, 101px 849px #575757, 1521px 700px #575757,
    833px 1306px #575757, 388px 1165px #575757, 358px 651px #575757,
    599px 1803px #575757, 1115px 398px #575757, 1399px 1292px #575757,
    930px 1474px #575757, 669px 1764px #575757, 490px 1646px #575757,
    1731px 1030px #575757, 215px 187px #575757, 1812px 364px #575757,
    1932px 343px #575757, 1405px 1191px #575757, 427px 511px #575757,
    1475px 635px #575757, 1964px 1114px #575757, 55px 775px #575757,
    504px 1261px #575757, 922px 980px #575757, 150px 270px #575757,
    135px 1166px #575757, 566px 1748px #575757, 371px 1775px #575757,
    1629px 1825px #575757, 853px 387px #575757, 420px 629px #575757,
    1613px 1474px #575757, 114px 1154px #575757, 1887px 148px #575757,
    817px 288px #575757, 1380px 637px #575757, 925px 696px #575757,
    1385px 382px #575757, 406px 308px #575757, 289px 1595px #575757,
    1224px 259px #575757, 1763px 1124px #575757, 529px 1009px #575757,
    1002px 669px #575757, 392px 451px #575757, 1272px 1026px #575757,
    1720px 122px #575757, 16px 1462px #575757, 931px 1249px #575757,
    1757px 1055px #575757, 856px 312px #575757, 1952px 1286px #575757,
    3px 1948px #575757, 1746px 1763px #575757, 66px 1131px #575757,
    151px 1068px #575757, 1116px 1577px #575757, 1021px 564px #575757,
    1948px 113px #575757, 1774px 815px #575757, 935px 1713px #575757,
    580px 531px #575757, 1063px 949px #575757, 1920px 4px #575757,
    1762px 452px #575757, 1671px 321px #575757, 310px 389px #575757,
    812px 1047px #575757, 1774px 1329px #575757, 941px 579px #575757,
    1032px 108px #575757, 716px 305px #575757, 951px 547px #575757,
    1748px 1901px #575757, 671px 1809px #575757, 1752px 1833px #575757,
    157px 555px #575757, 426px 932px #575757, 1711px 367px #575757,
    171px 1617px #575757, 1198px 866px #575757, 1516px 1890px #575757,
    491px 1216px #575757, 95px 1199px #575757, 1415px 289px #575757,
    431px 1915px #575757, 1845px 1949px #575757, 183px 1482px #575757,
    1718px 831px #575757, 1151px 910px #575757, 864px 1625px #575757,
    1056px 996px #575757, 791px 1973px #575757, 1991px 674px #575757,
    226px 815px #575757, 928px 60px #575757, 1283px 1851px #575757,
    460px 975px #575757, 338px 920px #575757, 937px 335px #575757,
    281px 1319px #575757, 1479px 441px #575757, 156px 1437px #575757,
    1144px 334px #575757, 267px 970px #575757, 526px 1695px #575757,
    1283px 1436px #575757, 1183px 1908px #575757, 47px 933px #575757,
    1744px 917px #575757, 1127px 1002px #575757, 880px 502px #575757,
    862px 238px #575757, 1083px 518px #575757, 207px 1625px #575757,
    1827px 634px #575757, 1095px 477px #575757, 393px 1940px #575757,
    1201px 1616px #575757, 891px 653px #575757, 1546px 1103px #575757,
    1438px 259px #575757, 355px 1957px #575757, 1514px 417px #575757,
    75px 702px #575757, 1626px 1753px #575757, 315px 88px #575757,
    579px 779px #575757, 1459px 504px #575757, 623px 1207px #575757,
    1292px 1721px #575757, 256px 22px #575757, 413px 352px #575757,
    542px 1292px #575757, 1641px 768px #575757, 1808px 1263px #575757,
    1091px 1056px #575757, 1518px 640px #575757, 599px 278px #575757,
    721px 1692px #575757, 1925px 1001px #575757, 371px 1610px #575757,
    1552px 1383px #575757, 683px 1563px #575757, 1676px 1309px #575757,
    1333px 1358px #575757, 1321px 1582px #575757 !important;
  animation: animStar 100s linear infinite;
}
.stars-dark2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 769px 1757px #575757, 1269px 670px #575757, 1328px 1783px #575757,
    380px 364px #575757, 753px 1304px #575757, 787px 838px #575757,
    1722px 1123px #575757, 264px 157px #575757, 336px 1536px #575757,
    1394px 344px #575757, 1324px 1700px #575757, 1692px 459px #575757,
    727px 605px #575757, 737px 1392px #575757, 650px 233px #575757,
    25px 1906px #575757, 51px 1631px #575757, 1728px 93px #575757,
    1085px 370px #575757, 1758px 478px #575757, 1709px 1823px #575757,
    201px 977px #575757, 112px 237px #575757, 1973px 24px #575757,
    1429px 544px #575757, 421px 1320px #575757, 1795px 195px #575757,
    1862px 315px #575757, 345px 1603px #575757, 574px 1745px #575757,
    638px 1436px #575757, 1211px 1614px #575757, 649px 1022px #575757,
    1948px 1492px #575757, 99px 51px #575757, 22px 1979px #575757,
    390px 1867px #575757, 400px 789px #575757, 829px 1305px #575757,
    329px 1305px #575757, 756px 52px #575757, 1721px 399px #575757,
    424px 1632px #575757, 1152px 15px #575757, 1513px 1025px #575757,
    311px 220px #575757, 1056px 472px #575757, 1289px 1434px #575757,
    1538px 1626px #575757, 1454px 886px #575757, 1922px 1920px #575757,
    262px 182px #575757, 386px 812px #575757, 335px 1422px #575757,
    1147px 1702px #575757, 101px 849px #575757, 1521px 700px #575757,
    833px 1306px #575757, 388px 1165px #575757, 358px 651px #575757,
    599px 1803px #575757, 1115px 398px #575757, 1399px 1292px #575757,
    930px 1474px #575757, 669px 1764px #575757, 490px 1646px #575757,
    1731px 1030px #575757, 215px 187px #575757, 1812px 364px #575757,
    1932px 343px #575757, 1405px 1191px #575757, 427px 511px #575757,
    1475px 635px #575757, 1964px 1114px #575757, 55px 775px #575757,
    504px 1261px #575757, 922px 980px #575757, 150px 270px #575757,
    135px 1166px #575757, 566px 1748px #575757, 371px 1775px #575757,
    1629px 1825px #575757, 853px 387px #575757, 420px 629px #575757,
    1613px 1474px #575757, 114px 1154px #575757, 1887px 148px #575757,
    817px 288px #575757, 1380px 637px #575757, 925px 696px #575757,
    1385px 382px #575757, 406px 308px #575757, 289px 1595px #575757,
    1224px 259px #575757, 1763px 1124px #575757, 529px 1009px #575757,
    1002px 669px #575757, 392px 451px #575757, 1272px 1026px #575757,
    1720px 122px #575757, 16px 1462px #575757, 931px 1249px #575757,
    1757px 1055px #575757, 856px 312px #575757, 1952px 1286px #575757,
    3px 1948px #575757, 1746px 1763px #575757, 66px 1131px #575757,
    151px 1068px #575757, 1116px 1577px #575757, 1021px 564px #575757,
    1948px 113px #575757, 1774px 815px #575757, 935px 1713px #575757,
    580px 531px #575757, 1063px 949px #575757, 1920px 4px #575757,
    1762px 452px #575757, 1671px 321px #575757, 310px 389px #575757,
    812px 1047px #575757, 1774px 1329px #575757, 941px 579px #575757,
    1032px 108px #575757, 716px 305px #575757, 951px 547px #575757,
    1748px 1901px #575757, 671px 1809px #575757, 1752px 1833px #575757,
    157px 555px #575757, 426px 932px #575757, 1711px 367px #575757,
    171px 1617px #575757, 1198px 866px #575757, 1516px 1890px #575757,
    491px 1216px #575757, 95px 1199px #575757, 1415px 289px #575757,
    431px 1915px #575757, 1845px 1949px #575757, 183px 1482px #575757,
    1718px 831px #575757, 1151px 910px #575757, 864px 1625px #575757,
    1056px 996px #575757, 791px 1973px #575757, 1991px 674px #575757,
    226px 815px #575757, 928px 60px #575757, 1283px 1851px #575757,
    460px 975px #575757, 338px 920px #575757, 937px 335px #575757,
    281px 1319px #575757, 1479px 441px #575757, 156px 1437px #575757,
    1144px 334px #575757, 267px 970px #575757, 526px 1695px #575757,
    1283px 1436px #575757, 1183px 1908px #575757, 47px 933px #575757,
    1744px 917px #575757, 1127px 1002px #575757, 880px 502px #575757,
    862px 238px #575757, 1083px 518px #575757, 207px 1625px #575757,
    1827px 634px #575757, 1095px 477px #575757, 393px 1940px #575757,
    1201px 1616px #575757, 891px 653px #575757, 1546px 1103px #575757,
    1438px 259px #575757, 355px 1957px #575757, 1514px 417px #575757,
    75px 702px #575757, 1626px 1753px #575757, 315px 88px #575757,
    579px 779px #575757, 1459px 504px #575757, 623px 1207px #575757,
    1292px 1721px #575757, 256px 22px #575757, 413px 352px #575757,
    542px 1292px #575757, 1641px 768px #575757, 1808px 1263px #575757,
    1091px 1056px #575757, 1518px 640px #575757, 599px 278px #575757,
    721px 1692px #575757, 1925px 1001px #575757, 371px 1610px #575757,
    1552px 1383px #575757, 683px 1563px #575757, 1676px 1309px #575757,
    1333px 1358px #575757, 1321px 1582px #575757 !important;
}

.stars-dark3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1005px 1695px #575757, 145px 357px #575757, 1592px 1006px #575757,
    1668px 366px #575757, 1286px 440px #575757, 1099px 464px #575757,
    1377px 1517px #575757, 471px 1152px #575757, 424px 677px #575757,
    1411px 850px #575757, 846px 892px #575757, 837px 1110px #575757,
    1544px 1020px #575757, 573px 1230px #575757, 987px 923px #575757,
    1114px 496px #575757, 1568px 593px #575757, 1648px 1026px #575757,
    1750px 1869px #575757, 454px 1913px #575757, 1248px 444px #575757,
    564px 16px #575757, 1919px 1747px #575757, 1762px 1330px #575757,
    1296px 616px #575757, 843px 1708px #575757, 1347px 720px #575757,
    227px 400px #575757, 769px 1247px #575757, 1815px 634px #575757,
    1521px 869px #575757, 1507px 840px #575757, 1576px 522px #575757,
    1734px 1529px #575757, 1401px 1534px #575757, 1865px 777px #575757,
    1819px 506px #575757, 33px 1996px #575757, 591px 946px #575757,
    464px 1136px #575757, 1315px 320px #575757, 1321px 1446px #575757,
    106px 1580px #575757, 608px 1002px #575757, 1302px 1383px #575757,
    154px 833px #575757, 699px 1583px #575757, 327px 777px #575757,
    452px 1147px #575757, 888px 1119px #575757, 1877px 25px #575757,
    231px 1232px #575757, 1481px 229px #575757, 486px 1734px #575757,
    1354px 334px #575757, 1224px 145px #575757, 712px 1231px #575757,
    1143px 292px #575757, 1815px 1537px #575757, 76px 518px #575757,
    890px 16px #575757, 1038px 1422px #575757, 1388px 635px #575757,
    1315px 744px #575757, 292px 515px #575757, 658px 243px #575757,
    838px 64px #575757, 1307px 1998px #575757, 1607px 1383px #575757,
    1244px 1px #575757, 904px 1977px #575757, 1690px 33px #575757,
    2000px 1539px #575757, 1171px 233px #575757, 1965px 1290px #575757,
    310px 1164px #575757, 1716px 1372px #575757, 1515px 1866px #575757,
    1435px 1901px #575757, 1488px 786px #575757, 1231px 814px #575757,
    330px 411px #575757, 1188px 1562px #575757, 159px 1067px #575757,
    349px 300px #575757, 1765px 660px #575757, 1829px 171px #575757,
    64px 1098px #575757, 992px 1121px #575757, 678px 720px #575757,
    1974px 322px #575757, 691px 356px #575757, 652px 334px #575757,
    1827px 1385px #575757, 1953px 170px #575757, 827px 589px #575757,
    277px 1405px #575757, 619px 509px #575757, 792px 790px #575757,
    128px 1618px #575757 !important;
  animation: animStar 150s linear infinite !important;
}
.stars-dark3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1005px 1695px #575757, 145px 357px #575757, 1592px 1006px #575757,
    1668px 366px #575757, 1286px 440px #575757, 1099px 464px #575757,
    1377px 1517px #575757, 471px 1152px #575757, 424px 677px #575757,
    1411px 850px #575757, 846px 892px #575757, 837px 1110px #575757,
    1544px 1020px #575757, 573px 1230px #575757, 987px 923px #575757,
    1114px 496px #575757, 1568px 593px #575757, 1648px 1026px #575757,
    1750px 1869px #575757, 454px 1913px #575757, 1248px 444px #575757,
    564px 16px #575757, 1919px 1747px #575757, 1762px 1330px #575757,
    1296px 616px #575757, 843px 1708px #575757, 1347px 720px #575757,
    227px 400px #575757, 769px 1247px #575757, 1815px 634px #575757,
    1521px 869px #575757, 1507px 840px #575757, 1576px 522px #575757,
    1734px 1529px #575757, 1401px 1534px #575757, 1865px 777px #575757,
    1819px 506px #575757, 33px 1996px #575757, 591px 946px #575757,
    464px 1136px #575757, 1315px 320px #575757, 1321px 1446px #575757,
    106px 1580px #575757, 608px 1002px #575757, 1302px 1383px #575757,
    154px 833px #575757, 699px 1583px #575757, 327px 777px #575757,
    452px 1147px #575757, 888px 1119px #575757, 1877px 25px #575757,
    231px 1232px #575757, 1481px 229px #575757, 486px 1734px #575757,
    1354px 334px #575757, 1224px 145px #575757, 712px 1231px #575757,
    1143px 292px #575757, 1815px 1537px #575757, 76px 518px #575757,
    890px 16px #575757, 1038px 1422px #575757, 1388px 635px #575757,
    1315px 744px #575757, 292px 515px #575757, 658px 243px #575757,
    838px 64px #575757, 1307px 1998px #575757, 1607px 1383px #575757,
    1244px 1px #575757, 904px 1977px #575757, 1690px 33px #575757,
    2000px 1539px #575757, 1171px 233px #575757, 1965px 1290px #575757,
    310px 1164px #575757, 1716px 1372px #575757, 1515px 1866px #575757,
    1435px 1901px #575757, 1488px 786px #575757, 1231px 814px #575757,
    330px 411px #575757, 1188px 1562px #575757, 159px 1067px #575757,
    349px 300px #575757, 1765px 660px #575757, 1829px 171px #575757,
    64px 1098px #575757, 992px 1121px #575757, 678px 720px #575757,
    1974px 322px #575757, 691px 356px #575757, 652px 334px #575757,
    1827px 1385px #575757, 1953px 170px #575757, 827px 589px #575757,
    277px 1405px #575757, 619px 509px #575757, 792px 790px #575757,
    128px 1618px #575757 !important;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
